name: Java CI

on: [pull_request, push]

jobs:
  gradle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '24'
          distribution: 'adopt'
      - name: Install saned
        run: sudo apt update && sudo apt install -y sane-utils
      - name: Run Gradle Tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check --info
